[submodule "service-dispatcher"]
	path = services/dispatcher
	url = https://github.com/CodeClarityCE/service-dispatcher.git
[submodule "service-notifier"]
	path = services/notifier
	url = https://github.com/CodeClarityCE/service-notifier.git
[submodule "service-project-downloader"]
	path = services/downloader
	url = https://github.com/CodeClarityCE/service-project-downloader.git
[submodule "service-knowledge"]
	path = services/knowledge
	url = https://github.com/CodeClarityCE/service-knowledge.git
[submodule "pluginsbom-javascript"]
	path = plugins/js-sbom
	url = https://github.com/CodeClarityCE/plugin-sbom-javascript.git
[submodule "plugin-sca-vuln-finder"]
	path = plugins/vuln-finder
	url = https://github.com/CodeClarityCE/plugin-sca-vuln-finder.git
[submodule "plugin-sca-patching"]
	path = plugins/js-patching
	url = https://github.com/CodeClarityCE/plugin-sca-patching.git
[submodule "utility-dbhelper"]
	path = utilities/db-helper
	url = https://github.com/CodeClarityCE/utility-dbhelper.git
[submodule "utility-node-semver"]
	path = utilities/node-semver
	url = https://github.com/CodeClarityCE/utility-node-semver.git
[submodule "utility-amqp-helper"]
	path = utilities/amqp-helper
	url = https://github.com/CodeClarityCE/utility-amqp-helper.git
[submodule "utility-types"]
	path = utilities/types
	url = https://github.com/CodeClarityCE/utility-types.git
[submodule "plugins/plugin-codeql"]
	path = plugins/codeql
	url = https://github.com/CodeClarityCE/plugin-codeql.git
[submodule "services/packageFollower"]
	path = services/packageFollower
	url = https://github.com/CodeClarityCE/service-package-follower.git
[submodule "services/scheduler"]
	path = services/scheduler
	url = git@github.com:CodeClarityCE/service-scheduler.git
[submodule "plugins/php-sbom"]
	path = plugins/php-sbom
	url = https://github.com/CodeClarityCE/plugin-sbom-php
[submodule "plugins/license-finder"]
	path = plugins/license-finder
	url = https://github.com/CodeClarityCE/plugin-sca-license.git
[submodule "plugin-sca-license"]
	path = plugin-sca-license
	url = https://github.com/CodeClarityCE/plugin-sca-license.git
